@model Task.Models.User

<div class="row">
    <div class="row">
        @Html.LabelFor(model => model.UserId, new { @class = "control-label" })
        @Html.DisplayFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="row">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
        @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="row">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Role, new { @class = "control-label" })
        @Html.DisplayFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

